<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#global_config" data-toggle="tab">全局配置</a>
    </li>
    <li>
        <a href="#custom_config" data-toggle="tab">自定义配置</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="global_config">
        </br>
        <div class="row">
            全局配置
        </div>
    </div>
    <div class="tab-pane fade" id="custom_config" hidden>
        </br>
        <div class="row">
            自定义配置
        </div>
    </div>
</div>
