<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src={{ url_for("static", filename="js/Chart.min.js") }} ></script>
    </head>
    <body>
        <canvas id="myChart" height="200" width="500"></canvas>
        <script type="text/javascript">
            var ctx = document.getElementById("myChart").getContext("2d");
            Line.defaults = {
                // 刻度是否显示标签, 即Y轴上是否显示文字
                scaleShowLabels : true,
                // Y轴上的刻度,即文字
                scaleLabel : "<%=value%>",
                // 字体
                scaleFontFamily : "'Arial'",
                // 文字大小
                scaleFontSize : 12,
            }
            // 线型图
            var LineChart = {
                //labels: ["Ruby", "jQuery", "Java", "ASP.Net", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP", "PHP"],
                labels: [1000, 2000, 3000, 8000, 1000, 6000,1000, 2000, 3000, 8000, 1000, 6000,1000, 2000, 3000, 8000, 1000, 6000],
                //20, 30, 40, 50, 10, 20, 30, 40, 50, 100, 30, 40, 50, 10, 20, 30, 40, 50, 100],
                datasets: [{
                    fillColor: "rgba(151,249,190,0.5)",
                    strokeColor: "rgba(255,255,255,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    data: [1000, 2000, 3000, 8000, 1000, 6000,1000, 2000, 3000, 8000, 1000, 6000,1000, 2000, 3000, 8000, 1000, 6000]
                            //[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 100, 30, 40, 50, 10, 20, 30, 40, 50, 100]
                    }
                    /*{
                    fillColor: "rgba(252,147,65,0.5)",
                    strokeColor: "rgba(255,255,255,1)",
                    pointColor: "rgba(173,173,173,1)",
                    pointStrokeColor: "#fff",
                    data: [28, 68, 40, 19, 96, 28, 68, 40, 19, 96, 55]}*/
                ]
            }
            new Chart(ctx).Line(LineChart);
        </script>
    </body>
</html>