{% if(general_logs != None) %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <ul class="pagination pagination-centered">
                <li><a href="javascript:void(0)" onclick=stop("/general/1","general")>&laquo;</a></li>
                {% for number in page_list %}
                    <li {% if(number == page_number) %} class="active" {% endif %}>
                        <a href="javascript:void(0)" onclick=stop("/general/{{ number }}","general")>{{ number }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>
                    Checksum
                </th>
                <th>
                    Fingerprint
                </th>
                <th class="text-center">
                    First_Seen
                </th>
                <th class="text-center">
                    Last_Seen
                </th>
                <th class="text-center">
                    Count
                </th>
                <th class="text-center">
                    State
                </th>
                <th class="text-center">
                    Detail
                </th>
            </tr>
            </thead>
            <tbody>
            {% for status in general_logs %}
                <tr {% if(status.ts_cnt > 100) %} class="text-danger" {% endif %}>
                    <td>
                        {{ status.checksum }}
                    </td>
                    <td>
                        {{ status.fingerprint }}
                    </td>
                    <td class="text-center">
                        {{ status.first_seen }}
                    </td>
                    <td class="text-center">
                        {{ status.last_seen }}
                    </td>
                    <td class="text-center">
                        {{ status.ts_cnt }}
                    </td>
                    <td class="text-center">
                        {% if(status.is_reviewed == 0) %}
                            <button id="{{ status.checksum }}" class="btn btn-xs btn-primary" onclick=set_general_log_is_review("{{ status.checksum }}")>Not Review</button>
                        {% else %}
                            <button id="{{ status.checksum }}" class="btn btn-xs btn-primary disabled">Reviewed</button>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-default"  onclick=show_general_log_detail("{{ status.checksum }}")>Detail</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-centered">
                <li><a href="javascript:void(0)" onclick=stop("/general/1","general")>&laquo;</a></li>
                {% for number in page_list %}
                    <li {% if(number == page_number) %} class="active" {% endif %}>
                        <a href="javascript:void(0)" onclick=stop("/general/{{ number }}","general")>{{ number }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog row" style="width:1100px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Result</h4>
            </div>
            <div class="modal-body">
                <p id="msg">One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    function set_general_log_is_review(checksum) {
        $.get("/general/review/" + checksum, "", function (data) {
            alert("success");
            var name_tmp = "#" + checksum;
            $(name_tmp).text("Reviewed");
            $(name_tmp).attr("disabled", "true");
        });
    }

    function show_general_log_detail(checksum) {
        $.get("/general/1/detail/" + checksum, "", function (data) {
            showModal(data);
        });
    }

    function showModal(msg){
        $("#msg").html(msg);
        $("#myModal").modal("show");
    }
</script>
