{% if(general_log_detail != None) %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <button class="btn btn-primary" type="button" onclick=stop("/general/{{ page_number }}","general")>Return</button>
            <a href="#{{ general_log_detail.checksum }}" target="_self" onclick=stop("/general/{{ page_number }}","general")>Return</a>
        </div>
        </br>
        <div class="span12">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th colspan="2" rowspan="1" class="text-center">
                        <strong><h4>General Log Detail</h4></strong>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <strong>Checksum</strong>
                    </td>
                    <td>
                        {{ general_log_detail.checksum }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Fingerprint</strong>
                    </td>
                    <td>
                        {{ general_log_detail.fingerprint }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>First Seen</strong>
                    </td>
                    <td>
                        {{ general_log_detail.first_seen }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Last Seen</strong>
                    </td>
                    <td>
                        {{ general_log_detail.last_seen }}
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px">
                        <strong>Execute Times</strong>
                    </td>
                    <td>
                        {{ general_log_detail.ts_cnt }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Sample</strong>
                    </td>
                    <td>
                        {{ general_log_detail.sample }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
