{% if(general_logs != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li><a href="javascript:void(0)" onclick=stop("/general/1","general")>&laquo;</a></li>
                        {% for number in page_list %}
                            <li {% if(number == page_number) %} class="active" {% endif %}>
                                <a href="javascript:void(0)" onclick=stop("/general/{{ number }}","general")>{{ number }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <!--<th>
                            Checksum
                        </th>-->
                        <th>
                            Fingerprint
                        </th>
                        <th>
                            First_Seen
                        </th>
                        <th>
                            Last_Seen
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            State
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in general_logs %}
                        <tr {% if(status.ts_cnt > 100) %} class="text-danger" {% endif %}>
                            <!--<td>
                                {{ status.checksum }}
                            </td>-->
                            <td>
                                {{ status.fingerprint }}
                            </td>
                            <td>
                                {{ status.first_seen }}
                            </td>
                            <td>
                                {{ status.last_seen }}
                            </td>
                            <td>
                                {{ status.ts_cnt }}
                            </td>
                            <td>
                                <button class="btn btn-xs btn-primary disabled">Review</button>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-default" name="{{ status.checksum }}" onclick=stop("/general/{{ page_number }}/detail/{{ status.checksum }}","general")>Detail</button>
                                <!--<a href="javascript:void(0)" name="{{ status.checksum }}" onclick=stop("/general/{{ page_number }}/detail/{{ status.checksum }}","general")>Details</a>-->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li><a href="javascript:void(0)" onclick=stop("/general/1","general")>&laquo;</a></li>
                        {% for number in page_list %}
                            <li {% if(number == page_number) %} class="active" {% endif %}>
                                <a href="javascript:void(0)" onclick=stop("/general/{{ number }}","general")>{{ number }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
