<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL Web</title>
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet" type="text/css">
    <script language="JavaScript">
        function myrefresh(){
            window.location.reload();
        }
        setTimeout('myrefresh()', 2000);
    </script>
</head>
<body>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-text center">
                        <h2>MySQL Web</h2>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="status" class="list-group-item"><span class="glyphicon glyphicon-cog">&nbsp;Status</span></a>
                    <a href="innodb" class="list-group-item"><span class="glyphicon glyphicon-file">&nbsp;INNODB</span></a>
                    <a href="replication" class="list-group-item"><span class="glyphicon glyphicon-list-alt">&nbsp;Replication</span></a>
                    <a href="host" class="list-group-item"><span class="glyphicon glyphicon-list-alt">&nbsp;Host</span></a>
                    <a href="all" class="list-group-item"><span class="glyphicon glyphicon-align-right">&nbsp;ALL</span></a>
                    <a href="charts" class="list-group-item"><span class="glyphicon glyphicon-align-right">&nbsp;Charts</span></a>
                </div>
            </div>
            <div class="col-md-10">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>