<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL Monitor Web</title>
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet" type="text/css">
    <script src={{ url_for("static", filename="jquery/jquery.min.js") }} type="text/javascript"></script>
    <script src={{ url_for("static", filename="js/bootstrap.min.js") }} type="text/javascript"></script>
    <script src={{ url_for("static", filename="jquery/jquery-form.js") }} type="text/javascript"></script>

    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">

    <script src={{ url_for("static", filename="js/my.js") }} type="text/javascript"></script>
    <script type="text/javascript" src={{ url_for("static", filename="js/echarts.min.js") }}></script>
</head>
<body>
    <div class="container-fluid">
        </br></br>
        <div class="row">
            <div class="col-md-2">
                <div id="myTab" class="list-group">
                    <a href="javascript:void(0)" id="mysql" class="list-group-item active" onclick=start("/mysql","mysql")><span class="glyphicon glyphicon-home"> MySQL</span></a>
                    <a href="javascript:void(0)" id="status" class="list-group-item" onclick=start("/status","status")><span class="glyphicon glyphicon-cog"> Status</span></a>
                    <a href="javascript:void(0)" id="innodb" class="list-group-item" onclick=start("/innodb","innodb")><span class="glyphicon glyphicon-file"> INNODB</span></a>
                    <a href="javascript:void(0)" id="repl" class="list-group-item" onclick=start("/replication","repl")><span class="glyphicon glyphicon-filter"> Replication</span></a>
                    <a href="javascript:void(0)" id="os" class="list-group-item" onclick=start("/os","os")><span class="glyphicon glyphicon-user"> OS</span></a>
                    <a href="javascript:void(0)" id="slowlog" class="list-group-item" onclick=stop("/slowlog","slowlog")><span class="glyphicon glyphicon-log-in"> SlowLog</span></a>
                    <a href="javascript:void(0)" id="tablespace" class="list-group-item" onclick=stop("/tablespace","tablespace")><span class="glyphicon glyphicon-barcode"> Tablespace</span></a>
                    <a href="javascript:void(0)" id="sql" class="list-group-item" onclick=stop("/sql","sql")><span class="glyphicon glyphicon-apple"> SQLExecute</span></a>
                    <a href="javascript:void(0)" id="general" class="list-group-item" onclick=stop("/general/1","general")><span class="glyphicon glyphicon-check"> GeneralLog</span></a>
                    <a href="javascript:void(0)" id="user" class="list-group-item" onclick=stop("/user","user")><span class="glyphicon glyphicon-user"> User</span></a>
                    <a href="javascript:void(0)" id="thread" class="list-group-item" onclick=stop("/thread","thread")><span class="glyphicon glyphicon-download"> Thread</span></a>
                    <a href="javascript:void(0)" id="chart" class="list-group-item" onclick=stop("/chart","chart")><span class="glyphicon glyphicon-cloud"> Chart</span></a>
                </div>
            </div>
            <div id="host_search_div" class="col-md-10">
                <select id="host_search" class="selectpicker" data-live-search="true" multiple>
                    <option value="0" selected>ALL MySQL Servers</option>
                    {% for info in host_infos %}
                    <option value="{{ info.host_id }}">{{ info.remark }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;<button class="btn btn-default" onclick="set_select_ids()">Query</button>
                &nbsp;&nbsp;<button class="btn btn-default" onclick="reset_select_ids()">Reset</button>
                </br></br>
            </div>
            <div class="col-md-10" id="data">
            </div>
        </div>
    </div>
</body>
</html>
