{% extends "base.html" %}
{% block content %}
    {% if(data_status != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-center">
                    MySQL Status
                </h3>
            </div>
        </div>
</div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Host
                            </th>
                            <th>
                                Select
                            </th>
                            <th>
                                QPS
                            </th>
                            <th>
                                TPS
                            </th>
                            <th>
                                Threads
                            </th>
                             <th>
                                Threads_R
                            </th>
                            <th>
                                commit
                            </th>
                            <th>
                                rollback
                            </th>
                            <th>
                                read_key
                            </th>
                            <th>
                                read_next
                            </th>
                            <th>
                                read_first
                            </th>
                            <th>
                                read_last
                            </th>
                            <th>
                                read_rnd
                            </th>
                            <th>
                                read_rnd_n
                            </th>
                            <th>
                                Rece_B
                            </th>
                            <th>
                                Send_B
                            </th>
                            <th>
                                Tmp_T
                            </th>
                            <th>
                                Tmp_DT
                            </th>
                            <th title="thread cache hit">
                                T_C_H
                            </th>
                            <th title="binlog cache hit">
                                B_C_U
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for status in data_status %}
                        <tr>
                            <td>
                                {{ status.host_info.remark }}
                            </td>
                            <td>
                                {{ status.select_count }}
                            </td>
                            <td>
                                {{ status.qps }}
                            </td>
                            <td>
                                {{ status.tps }}
                            </td>
                            <td>
                                {{ status.threads_count }}
                            </td>
                            <td>
                                {{ status.threads_run_count }}
                            </td>
                            <td>
                                {{ status.commit }}
                            </td>
                            <td>
                                {{ status.rollback }}
                            </td>
                            <td>
                                {{ status.handler_read_key }}
                            </td>
                            <td>
                                {{ status.handler_read_next }}
                            </td>
                            <td>
                                {{ status.handler_read_first }}
                            </td>
                            <td>
                                {{ status.handler_read_last }}
                            </td>
                            <td>
                                {{ status.handler_read_rnd }}
                            </td>
                            <td>
                                {{ status.handler_read_rnd_next }}
                            </td>
                            <td>
                                {{ status.send_bytes }}
                            </td>
                            <td>
                                {{ status.receive_bytes }}
                            </td>
                            <td>
                                {{ status.create_tmp_table_count }}
                            </td>
                            <td>
                                {{ status.create_tmp_disk_table_count }}
                            </td>
                            <td>
                                {{ status.thread_cache_hit }}
                            </td>
                            <td>
                                {{ status.binlog_cache_hit }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if(data_innodb != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-center">
                    MySQL Innodb
                </h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Host
                        </th>
                        <th>
                            Read
                        </th>
                        <th>
                            Update
                        </th>
                        <th>
                            Delete
                        </th>
                         <th>
                            Insert
                        </th>
                        <th>
                            P_Dirty
                        </th>
                        <th>
                            P_Free
                        </th>
                        <th>
                            T_Total
                        </th>
                        <th>
                            Flush_Page
                        </th>
                        <th>
                            Buffer_Hit
                        </th>
                        <th>
                            Log_Waits
                        </th>
                        <th>
                            Log_Writes
                        </th>
                        <th>
                            Row_Locks
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for status in data_innodb %}
                    <tr>
                        <td>
                            {{ status.host_info.remark }}
                        </td>
                        <td>
                            {{ status.rows_read }}
                        </td>
                        <td>
                            {{ status.rows_updated }}
                        </td>
                        <td>
                            {{ status.rows_deleted }}
                        </td>
                        <td>
                            {{ status.rows_inserted }}
                        </td>
                        <td>
                            {{ status.page_dirty_count }}
                        </td>
                        <td>
                            {{ status.page_free_count }}
                        </td>
                        <td>
                            {{ status.page_total_count }}
                        </td>
                        <td>
                            {{ status.page_flush_persecond }}
                        </td>
                        <td>
                            {{ status.buffer_pool_hit }}
                        </td>
                        <td>
                            {{ status.innodb_log_waits }}
                        </td>
                        <td>
                            {{ status.innodb_log_writes }}
                        </td>
                        <td>
                            {{ status.innodb_row_lock_waits }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    {% endif %}

    {% if(data_repl != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-center">
                    MySQL Replication
                </h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Host
                            </th>
                            <th>
                                IO
                            </th>
                            <th>
                                SQL
                            </th>
                            <th>
                                Master_Log
                            </th>
                             <th>
                                Master_Log_Pos
                            </th>
                            <th>
                                Slave_Log
                            </th>
                            <th>
                                Slave_Log_Pos
                            </th>
                            <th>
                                Retrieved_GTID
                            </th>
                            <th>
                                Executed_GTID
                            </th>
                            <th>
                                Delay_Pos
                            </th>
                            <th>
                                Error_Msg
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for status in data_repl %}
                        {% if status.io_status %}
                            <tr>
                                <td>
                                    {{ status.host_info.remark }}
                                </td>
                                <td>
                                    {{ status.io_status }}
                                </td>
                                <td>
                                    {{ status.sql_status }}
                                </td>
                                <td>
                                    {{ status.master_log_file }}
                                </td>
                                <td>
                                    {{ status.master_log_pos }}
                                </td>
                                <td>
                                    {{ status.slave_log_file }}
                                </td>
                                <td>
                                    {{ status.slave_log_pos }}
                                </td>
                                <td>
                                    {{ status.slave_retrieved_gtid_set }}
                                </td>
                                <td>
                                    {{ status.slave_execute_gtid_set }}
                                </td>
                                <td>
                                    {{ status.delay_pos_count }}
                                </td>
                                <td>
                                    {{ status.error_message }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}