{% extends "home.html" %}
{% block content %}
    {% if(data_status != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Host
                            </th>
                            <th>
                                Select
                            </th>
                            <th>
                                Insert
                            </th>
                            <th>
                                Update
                            </th>
                            <th>
                                Delete
                            </th>
                            <!--<th>
                                Conn
                            </th>-->
                            <th>
                                QPS
                            </th>
                            <th>
                                TPS
                            </th>
                            <th title="thread count">
                                T_S
                            </th>
                             <th title="thread running count">
                                T_RS
                            </th>
                            <th title="commit count">
                                Com
                            </th>
                            <th title="rollback count">
                                Roll
                            </th>
                            <th title="handler read key">
                                R_Key
                            </th>
                            <th title="handler read next">
                                R_Next
                            </th>
                            <th title="handler read first">
                                R_First
                            </th>
                            <th title="handler read last">
                                R_Last
                            </th>
                            <th title="handler read rnd">
                                R_Rnd
                            </th>
                            <th title="handler read rnd next">
                                R_Rnd_N
                            </th>
                            <th title="receive bytes">
                                Rece_B
                            </th>
                            <th title="send bytes">
                                Send_B
                            </th>
                            <th title="tmp table count">
                                Tmp_T
                            </th>
                            <th title="tmp table disk count">
                                Tmp_DT
                            </th>
                            <th title="thread cache hit">
                                T_C_H
                            </th>
                            <th title="binlog cache hit">
                                B_C_U
                            </th>
                            <th title="use table cache">
                                U_T_C
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for status in data_status %}
                        <tr>
                            <td>
                                {{ status.host_info.remark }}
                            </td>
                            <td>
                                {{ status.select_count }}
                            </td>
                            <td>
                                {{ status.insert_count }}
                            </td>
                            <td>
                                {{ status.update_count }}
                            </td>
                            <td>
                                {{ status.delete_count }}
                            </td>
                            <!--<td>
                                {{ status.connections_per }}
                            </td>-->
                            <td>
                                {{ status.qps }}
                            </td>
                            <td>
                                {{ status.tps }}
                            </td>
                            <td>
                                {{ status.threads_count }}
                            </td>
                            <td>
                                {{ status.threads_run_count }}
                            </td>
                            <td>
                                {{ status.commit }}
                            </td>
                            <td>
                                {{ status.rollback }}
                            </td>
                            <td>
                                {{ status.handler_read_key }}
                            </td>
                            <td>
                                {{ status.handler_read_next }}
                            </td>
                            <td>
                                {{ status.handler_read_first }}
                            </td>
                            <td>
                                {{ status.handler_read_last }}
                            </td>
                            <td>
                                {{ status.handler_read_rnd }}
                            </td>
                            <td>
                                {{ status.handler_read_rnd_next }}
                            </td>
                            <td>
                                {{ status.send_bytes }}
                            </td>
                            <td>
                                {{ status.receive_bytes }}
                            </td>
                            <td {% if(status.create_tmp_table_count > 100) %} class="text-danger" {% endif %}>
                                {{ status.create_tmp_table_count }}
                            </td>
                            <td {% if(status.create_tmp_disk_table_count > 10) %} class="text-danger" {% endif %}>
                                {{ status.create_tmp_disk_table_count }}
                            </td>
                            <td>
                                {{ status.thread_cache_hit }}
                            </td>
                            <td {% if(status.binlog_cache_hit > 0 and status.binlog_cache_hit < 80) %} class="text-danger" {% endif %}>
                                {{ status.binlog_cache_hit }}
                            </td>
                            <td {% if(status.table_open_cache_overflows > 0 or status.table_open_cache_misses > 0) %} class="text-danger" {% endif %}>
                                {% if(status.table_open_cache_overflows > 0 or status.table_open_cache_misses > 0) %}
                                    No
                                {% else %}
                                    Yes
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if(data_innodb != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Host
                            </th>
                            <th>
                                Read
                            </th>
                            <th>
                                Update
                            </th>
                            <th>
                                Delete
                            </th>
                            <th>
                                Insert
                            </th>
                            <th title="page dirty count">
                                P_Dirty
                            </th>
                            <th title="page dirty percent">
                                D_PCT
                            </th>
                            <th>
                                P_Free
                            </th>
                            <th>
                                T_Total
                            </th>
                            <th title="buffer pool page wait free">
                                P_W_F
                            </th>
                            <th>
                                Flush_Page
                            </th>
                            <th>
                                Buffer_Hit
                            </th>
                            <th title="buffer pool write request">
                                B_W_R
                            </th>
                            <th>
                                Log_Waits
                            </th>
                            <th>
                                Log_Writes
                            </th>
                            <th>
                                Row_Locks
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for status in data_innodb %}
                        <tr>
                            <td>
                                {{ status.host_info.remark }}
                            </td>
                            <td>
                                {{ status.rows_read }}
                            </td>
                            <td>
                                {{ status.rows_updated }}
                            </td>
                            <td>
                                {{ status.rows_deleted }}
                            </td>
                            <td>
                                {{ status.rows_inserted }}
                            </td>
                            <td>
                                {{ status.page_dirty_count }}
                            </td>
                            <td>
                                {{ status.page_dirty_pct }}
                            </td>
                            <td>
                                {{ status.page_free_count }}
                            </td>
                            <td>
                                {{ status.page_total_count }}
                            </td>
                            <td>
                                {{ status.pool_wait_free }}
                            </td>
                            <td>
                                {{ status.page_flush_persecond }}
                            </td>
                            <td>
                                {{ status.buffer_pool_hit }}
                            </td>
                            <td>
                                {{ status.buffer_pool_write_requests }}
                            </td>
                            <td>
                                {{ status.innodb_log_waits }}
                            </td>
                            <td>
                                {{ status.innodb_log_writes }}
                            </td>
                            <td>
                                {{ status.innodb_row_lock_waits }}
                            </td>
                            <td class="text-center">
                                <a href="innodb/{{ status.host_info.key }}">Innodb Status</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if(data_repl != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Host
                            </th>
                            <th>
                                IO
                            </th>
                            <th>
                                SQL
                            </th>
                            <th>
                                Master_Log
                            </th>
                             <th>
                                Master_Log_Pos
                            </th>
                            <th>
                                Slave_Log
                            </th>
                            <th>
                                Slave_Log_Pos
                            </th>
                            <th>
                                Retrieved_GTID
                            </th>
                            <th>
                                Executed_GTID
                            </th>
                            <th>
                                Delay_Pos
                            </th>
                            <th>
                                Seconds_Behind
                            </th>
                            <th>
                                Error_Msg
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for status in data_repl %}
                        {% if(status.io_status and status.is_slave == 1) %}
                            <tr>
                                <td>
                                    {{ status.host_info.remark }}
                                </td>
                                <td {% if(status.io_status == "No") %} class="text-danger" {% endif %}>
                                    {{ status.io_status }}
                                </td>
                                <td {% if(status.io_status == "No") %} class="text-danger" {% endif %}>
                                    {{ status.sql_status }}
                                </td>
                                <td>
                                    {{ status.master_log_file }}
                                </td>
                                <td>
                                    {{ status.master_log_pos }}
                                </td>
                                <td>
                                    {{ status.slave_log_file }}
                                </td>
                                <td>
                                    {{ status.slave_log_pos }}
                                </td>
                                <td>
                                    {{ status.slave_retrieved_gtid_set }}
                                </td>
                                <td>
                                    {{ status.slave_execute_gtid_set }}
                                </td>
                                <td {% if(status.delay_pos_count > 20000) %} class="text-danger" {% endif %}>
                                    {{ status.delay_pos_count }}
                                </td>
                                <td>
                                    {{ status.seconds_Behind_Master }}
                                </td>
                                <td>
                                    {{ status.error_message }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if(data_host != None) %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Host
                            </th>
                            <th>
                                CPU_1
                            </th>
                            <th>
                                CPU_5
                            </th>
                            <th>
                                CPU_15
                            </th>
                            <th>
                                MySQL_C
                            </th>
                            <th>
                                MySQL_M
                            </th>
                            <th>
                                MySQL_D
                            </th>
                            <th>
                                Disk_P
                            </th>
                            <th>
                                Disk_T
                            </th>
                            <th>
                                Memory_T
                            </th>
                            <th>
                                Memory_F
                            </th>
                            <th>
                                SWAP_T
                            </th>
                            <th>
                                SWAP_F
                            </th>
                            <th>
                                NET_R
                            </th>
                            <th>
                                NET_S
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for status in data_host %}
                        <tr>
                            <td>
                                {{ status.host_info.remark }}
                            </td>
                            <td>
                                {{ status.cpu_1 }}
                            </td>
                            <td>
                                {{ status.cpu_5 }}
                            </td>
                            <td>
                                {{ status.cpu_15 }}
                            </td>
                            <td>
                                {{ status.mysql_cpu }}
                            </td>
                            <td>
                                {{ status.mysql_memory }}
                            </td>
                            <td>
                                {{ status.mysql_data_size }}
                            </td>
                            <td>
                                {{ status.disk_value }}
                            </td>
                            <td>
                                {{ status.total_disk_value }}
                            </td>
                            <td>
                                {{ status.memory_total }}
                            </td>
                            <td>
                                {{ status.memory_free }}
                            </td>
                            <td>
                                {{ status.swap_total }}
                            </td>
                            <td>
                                {{ status.swap_free }}
                            </td>
                            <td>
                                {{ status.net_receive_byte }}
                            </td>
                            <td>
                                {{ status.net_send_byte }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if(data_engine_innodb != None) %}
    <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Buffer_Name
                                </th>
                                <th>
                                    Total_P
                                </th>
                                <th>
                                    Free_P
                                </th>
                                <th>
                                    LRU_P
                                </th>
                                <th>
                                    Old_P
                                </th>
                                <th>
                                    Dirty_P
                                </th>
                                <th>
                                    Pending_R
                                </th>
                                <th>
                                    Read_Per
                                </th>
                                <th>
                                    Create_Per
                                </th>
                                <th>
                                    Write_Per
                                </th>
                                <th>
                                    Hit
                                </th>
                                <th>
                                    Unzip_LRU
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for info in data_engine_innodb.buffer_pool_infos.values() %}
                            <tr>
                                <td>
                                    {{ info.name }}
                                </td>
                                <td>
                                    {{ info.total_pages }}
                                </td>
                                <td >
                                    {{ info.free_pages }}
                                </td>
                                <td >
                                    {{ info.lru_pages }}
                                </td>
                                <td>
                                    {{ info.old_pages }}
                                </td>
                                <td>
                                    {{ info.dirty_pages }}
                                </td>
                                <td>
                                    {{ info.pending_reads }}
                                </td>
                                <td>
                                    {{ info.reads_per }}
                                </td>
                                <td>
                                    {{ info.creates_per }}
                                </td>
                                <td>
                                    {{ info.writes_per }}
                                </td>
                                <td>
                                    {{ info.buffer_pool_hit }}
                                </td>
                                <td>
                                    {{ info.unzip_lur }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="span12">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Log_LSN
                                </th>
                                <th>
                                    Log_Flush_LSN
                                </th>
                                <th>
                                    Log_Flush_Diff
                                </th>
                                <th>
                                    Page_Flush_LSN
                                </th>
                                <th>
                                    Page_Flush_Diff
                                </th>
                                <th>
                                    Checkpoint_LSN
                                </th>
                                <th>
                                    Checkpoint_Diff
                                </th>
                                <th>
                                    Undo_History_List_Len
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ data_engine_innodb.log_lsn }}
                                </td>
                                <td>
                                    {{ data_engine_innodb.log_flush_lsn }}
                                </td>
                                <td>
                                    {{ data_engine_innodb.log_flush_diff }}
                                </td>
                                <td >
                                    {{ data_engine_innodb.page_flush_lsn }}
                                </td>
                                <td>
                                    {{ data_engine_innodb.page_flush_diff }}
                                </td>
                                <td >
                                    {{ data_engine_innodb.checkpoint_lsn }}
                                </td>
                                <td>
                                    {{ data_engine_innodb.checkpoint_diff }}
                                </td>
                                <td>
                                    {{ data_engine_innodb.undo_history_list_len }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}