{% if(mysql_infos != None) %}
<table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th colspan="2" class="text-center">
                Host
            </th>
            <th colspan="5" class="text-center">
                Status
            </th>
            <th colspan="2" class="text-center">
                Thread
            </th>
            <th colspan="2" class="text-center">
                Net
            </th>
            <th colspan="4" class="text-center">
                MySQL
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                Remark
            </th>
            <th class="text-center">
                Role
            </th>
            <th class="text-center">
                Running
            </th>
            <th class="text-center">
                QPS
            </th>
            <th class="text-center">
                TPS
            </th>
            <th class="text-center">
                Trxs
            </th>
            <th title="buffer pool size" class="text-center">
                B_P_Z
            </th>
            <th class="text-center">
                Threads
            </th>
            <th class="text-center">
                Threads_R
            </th>
            <th class="text-center">
                Send_B
            </th>
            <th class="text-center">
                Rece_B
            </th>
            <th class="text-center">
                Uptime(Day)
            </th>
            <th class="text-center">
                Version
            </th>
            <th class="text-center">
                Port
            </th>
            <th class="text-center">
                User
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody class="text-center">
    {% for data in mysql_infos %}
        <tr>
            <td class="text-left">
                {{ data.remark }}
            </td>
            <td>
                {{ data.role }}
            </td>
            <td class="text-success">
                Yes
            </td>
            <td>
                {{ data.qps }}
            </td>
            <td>
                {{ data.tps }}
            </td>
            <td>
                {{ data.trxs }}
            </td>
            <td>
                {{ data.innodb_buffer_pool_size }}
            </td>
            <td {% if(data.threads > 1000) %} class="text-danger" {% endif %}>
                {{ data.threads }}
            </td>
            <td {% if(data.threads_running > 10) %} class="text-danger" {% endif %}>
                {{ data.threads_running }}
            </td>
            <td>
                {{ data.send_bytes }}
            </td>
            <td>
                {{ data.receive_bytes }}
            </td>
            <td>
                {{ data.uptime }}
            </td>
            <td>
                {{ data.version }}-{{ data.branch.name }}
            </td>
            <td>
                {{ data.port }}
            </td>
            <td>
                {{ data.user }}
            </td>
            <td class="text-center">
                <a href="javascript:void(0)" onclick=start("/mysql/{{ data.key }}","mysql")>Details</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
