<button type="button" class="btn btn-primary" onclick=show_modal_dialog("#mysql_host_add_dialog")>添加MySQL主机</button>


<div class="modal fade" id="mysql_host_add_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加MySQL主机信息</h4>
            </div>
            <div class="modal-body">
                <form id="mysql_host_add_form">
                    <div class="form-group">
                        <label id="user_name_lable" name="user_name_lable" class="control-label" for="user_name">名称:</label>
                        <input id="host_name" type="text" name="host_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="user_password_lable" name="user_password_lable" class="control-label" for="user_password">IP地址:</label>
                        <input id="host_ip" type="text" name="host_ip" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">端口:</label>
                        <input id="host_port" type="text" name="host_port" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">用户名:</label>
                        <input id="host_user" type="text" name="host_user" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">密码:</label>
                        <input id="host_password" type="text" name="host_password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">SSH用户:</label>
                        <input id="host_ssh_user" type="text" name="host_ssh_user" class="form-control" value="root">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">SSH端口:</label>
                        <input id="host_ssh_port" type="text" name="host_ssh_port" class="form-control" value="22">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">SSH密码:</label>
                        <input id="host_ssh_password" type="text" name="host_ssh_password" class="form-control" placeholder="如果设置了免密码登录则不需要填写">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" onclick="test_ssh_connection_is_ok()">测试SSH连接</button>
                <button type="button" class="btn btn-info" onclick="test_mysql_connection_is_ok()">测试MySQL连接</button>
                <button type="button" class="btn btn-primary" onclick="add_mysql_host()">添加</button>
            </div>
        </div>
    </div>
</div>


</br>
</br>
{% if(mysql_host_infos != None) %}
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>

                    </th>
                    <th colspan="4" rowspan="1" class="text-center">
                        MySQL
                    </th>
                    <th colspan="2" rowspan="1" class="text-center">
                        SSH
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Remark
                    </th>
                    <th>
                        IP
                    </th>
                    <th>
                        Port
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Port
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for info in mysql_host_infos %}
                    <tr>
                        <td>
                            {{ info.host_id }}
                        </td>
                        <td>
                            {{ info.remark }}
                        </td>
                        <td>
                            {{ info.host }}
                        </td>
                        <td>
                            {{ info.port }}
                        </td>
                        <td>
                            {{ info.user }}
                        </td>
                        <td>
                            {{ info.ssh_user }}
                        </td>
                        <td>
                            {{ info.ssh_port }}
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-xs">编辑</button>
                            <button class="btn btn-danger btn-xs">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

<script language="JavaScript">

    function add_mysql_host() {
        if (window.confirm("是否确认添加?")) {
            $.post("/host/add", JSON.stringify(get_form_json("#mysql_host_add_form")), function (data) {
                alert(data);
                hide_modal_dialog("#mysql_host_add_dialog");
                input_data_for_get("/host", "#data");
            }).error(function () {
                alert("error");
            });
        }
    }

    function test_ssh_connection_is_ok() {
        post_request("/host/test/ssh", JSON.stringify(get_form_json("#mysql_host_add_form")))
    }


    function test_mysql_connection_is_ok() {
        post_request("/host/test/mysql", JSON.stringify(get_form_json("#mysql_host_add_form")))
    }

</script>