<div class="row">
    <form action="/mysql_log/all" method="post" class="form-inline col-md-12" target="nm_iframe" role="form" id="mysql_log_form">
        <div class="form-group" style="width: 200px">
            <select id="host_ids" name="host_ids" class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true">
                {% for info in host_infos %}
                    <option value="{{ info.host_id }}">{{ info.remark }}</option>
                {% endfor %}
            </select>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <input id="start_datetime" name="start_datetime" type="text" value="" class="form_datetime form-control" readonly>
            -
            <input id="stop_datetime" name="stop_datetime" type="text" value="" class="form_datetime form-control" readonly>
        </div>
        <div class="form-group">
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Query</button>
            &nbsp;&nbsp;
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
</div>
</br>
<div class="row">
    <div class="col-md-8" id="mysql_logs_div"></div>
</div>

<script type="text/javascript">
    $(".selectpicker").selectpicker({liveSearch: true});
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });

    $(document).ready(function () {
        $("#mysql_log_form").bind("submit", function () {
            ajaxSubmit(this, function (data) {
                //success
                $("#mysql_logs_div").html(data);
            }, function () {
                //error
            });
            return false;
        });
    });
</script>