<form class="form-inline row" action="/newslowlog/" method="post" role="form" id="slow_log_form">
    <div class="form-group col-md-2">
        <select id="host_ids" name="host_ids" class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true">
            {% for info in host_infos %}
                <option value="{{ info.host_id }}">{{ info.remark }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-2">
        <select id="order_by_options" name="order_by_options" class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true">
            <option value="1">Last Seen</option>
            <option value="2">Query Time</option>
            <option value="3">Query Count</option>
            <option value="4">Lock Time</option>
        </select>
    </div>
    <div class="form-group">
        <input id="start_datetime" name="start_datetime" type="text" value="" class="form_datetime form-control" readonly>
        -
        <input id="stop_datetime" name="stop_datetime" type="text" value="" class="form_datetime form-control" readonly>
    </div>
    <div class="form-group">
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Query</button>
        &nbsp;&nbsp;
        <button type="reset" class="btn btn-default">Reset</button>
    </div>
</form>
</br>
<div class="row">
    <div id="display_slow_log" class="col-md-12"></div>
</div>

<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document" style="width: 1100px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Detail</h4>
            </div>
            <div class="modal-body" id="slow_log_detail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Review</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                请稍候。。。
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".selectpicker").selectpicker({liveSearch: true});
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });

    $(document).ready(function() {
        $("#slow_log_form").ajaxForm(function(data){
            $("#display_slow_log").html(data);
        });
    });

    function get_slow_log_detail(checksum) {
        var host_id = $("#host_ids").val();
        var url = "/newslowlog/detail/" + checksum + "/" + host_id
        $.get(url, "", function (data) {
            $("#slow_log_detail").html(data);
            show_modal_dialog()
        })
    }

    function show_modal_dialog() {
        $("#detail").modal({backdrop: "static", keyboard: false});
        $("#detail").modal("show")
    }

    function visible_or_hidden(checksum) {
        var id = "#" + checksum
        if ($(id).is(":hidden")) {
            $(id).show();
        } else {
            $(id).hide();
        }
    }

    function get_slow_logs_by_page_number(page_number) {
        show_loading();
        host_ids = $("#host_ids").val();
        start_datetime = $("#start_datetime").val();
        stop_datetime = $("#stop_datetime").val();
        order_by_options = $("#order_by_options").val();

        var post_data = "page_number="+page_number+"&host_ids="+host_ids+"&start_datetime="+start_datetime+"&stop_datetime="+stop_datetime+"&order_by_options="+order_by_options
        $.post("/newslowlog/", post_data, function (data) {
            $("#display_slow_log").html(data);
            hide_loading();
        })
    }

    function show_loading() {
        $("#loading").modal({backdrop: "static", keyboard: false});
        $("#loading").modal("show")
    }

    function hide_loading() {
        $("#loading").modal("hide")
    }
</script>