{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="text-center">
                MySQL Replication
            </h3>
        </div>
    </div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th>
							Host
						</th>
						<th>
							IO
						</th>
						<th>
							SQL
						</th>
                        <th>
							Master_Log
						</th>
                         <th>
							Master_Log_Pos
						</th>
                        <th>
							Slave_Log
						</th>
                        <th>
							Slave_Log_Pos
						</th>
                        <th>
							Retrieved_GTID
						</th>
                        <th>
							Executed_GTID
						</th>
                        <th>
							Delay_Pos
						</th>
                        <th>
							Error_Msg
						</th>
					</tr>
				</thead>
				<tbody>
                {% for status in data %}
                    {% if status.io_status %}
                        <tr>
                            <td>
                                {{ status.remark }}
                            </td>
                            <td>
                                {{ status.io_status }}
                            </td>
                            <td>
                                {{ status.sql_status }}
                            </td>
                            <td>
                                {{ status.master_log_file }}
                            </td>
                            <td>
                                {{ status.master_log_pos }}
                            </td>
                            <td>
                                {{ status.slave_log_file }}
                            </td>
                            <td>
                                {{ status.slave_log_pos }}
                            </td>
                            <td>
                                {{ status.slave_retrieved_gtid_set }}
                            </td>
                            <td>
                                {{ status.slave_execute_gtid_set }}
                            </td>
                            <td>
                                {{ status.delay_pos_count }}
                            </td>
                            <td>
                                {{ status.error_message }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}