<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet" type="text/css">
    <title>{{ report_name }}</title>
</head>
<body>
    {% if(tablespace_data != None) %}
    {% for key, values in tablespace_data.items() %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">{{ values.name }}</div>
            <div class="span12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Schema
                            </th>
                            <th>
                                Table_Name
                            </th>
                            <th>
                                Fragment_Szie
                            </th>
                            <th>
                                Data_Szie
                            </th>
                            <th>
                                Index_Size
                            </th>
                            <th>
                                Total_Size
                            </th>
                            <th>
                                File_Size
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for status in values.data %}
                            <tr>
                                <td>
                                    {{ status.schema }}
                                </td>
                                <td>
                                    {{ status.t_name }}
                                </td>
                                <td>
                                    {{ status.value }}
                                </td>
                                <td>
                                    {{ status.data_size }}
                                </td>
                                <td>
                                    {{ status.index_size }}
                                </td>
                                <td>
                                    {{ status.total_size }}
                                </td>
                                <td>
                                    {{ status.file_size }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>