{% if(slow_list != None) %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="7" rowspan="1" class="text-center">
                            <strong><h4>Slow Log Query Time Sum Top 20</h4></strong>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Checksum
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Total ms
                        </th>
                        <th>
                            First Seen
                        </th>
                        <th>
                            Last Seen
                        </th>
                        <th>
                            SQL
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in slow_list %}
                        <tr>
                            <td>
                                {{ info.checksum }}
                            </td>
                            <td>
                                {{ info.count }}
                            </td>
                            <td>
                                {{ info.query_time_sum }}
                            </td>
                            <td>
                                {{ info.first_seen }}
                            </td>
                            <td>
                                {{ info.last_seen }}
                            </td>
                            <td>
                                {{ info.fingerprint }}
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick=stop("/slowlog/{{ info.checksum }}","slowlog")>Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
     </div>
</div>
{% endif %}

{% if(slow_low_info != None) %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="5" rowspan="1" class="text-center">
                            <strong><h4>Slow Log Detail</h4></strong>
                        </th>
                    </tr>
                </thead>
				<tbody>
					<tr>
						<td>
							<strong>Checksum</strong>
						</td>
						<td colspan="2" rowspan="1">
							{{ slow_low_info.checksum }}
						</td>
						<td>
							<strong>Count</strong>
						</td>
						<td colspan="1" rowspan="1">
                            {{ slow_low_info.count }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>First Seen</strong>
						</td>
						<td colspan="2" rowspan="1">
							{{ slow_low_info.first_seen }}
						</td>
						<td>
							<strong>Last Seen</strong>
						</td>
						<td colspan="1" rowspan="1">
                            {{ slow_low_info.last_seen }}
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="2">
							<strong>Query Time</strong>
						</td>
						<td>
							<strong>Query_time_sum</strong>
						</td>
						<td>
							<strong>Query_time_max</strong>
						</td>
						<td>
							<strong>Query_time_min</strong>
						</td>
						<td>
                            <strong>Query_time_pct_95</strong>
						</td>
					</tr>
					<tr>
                        <td>
							{{ slow_low_info.query_time_sum }}
						</td>
						<td>
							{{ slow_low_info.query_time_max }}
						</td>
						<td>
							{{ slow_low_info.query_time_min }}
						</td>
						<td>
                            {{ slow_low_info.query_time_pct_95 }}
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="2">
							<strong>Lock Time</strong>
						</td>
						<td>
							<strong>Lock_time_sum</strong>
						</td>
						<td>
							<strong>Lock_time_max</strong>
						</td>
						<td>
							<strong>Lock_time_min</strong>
						</td>
						<td>
                            <strong>Lock_time_pct_95</strong>
						</td>
					</tr>
					<tr>
						<td>
							{{ slow_low_info.lock_time_sum }}
						</td>
						<td>
							{{ slow_low_info.lock_time_max }}
						</td>
						<td>
							{{ slow_low_info.lock_time_max }}
						</td>
						<td>
                            {{ slow_low_info.lock_time_pct_95 }}
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="2">
                            <strong>Rows Send</strong>
						</td>
                        <td>
                            <strong>Rows_sent_sum</strong>
                        </td>
						<td>
                            <strong>Rows_sent_max</strong>
						</td>
						<td>
                            <strong>Rows_sent_min</strong>
						</td>
						<td>
                            <strong>Rows_sent_pct_95</strong>
						</td>
					</tr>
					<tr>
						<td>
							{{ slow_low_info.rows_sent_sum }}
						</td>
						<td>
							{{ slow_low_info.rows_sent_max }}
						</td>
						<td>
							{{ slow_low_info.rows_sent_min }}
						</td>
						<td>
                            {{ slow_low_info.rows_sent_pct_95 }}
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="2">
                            <strong>Rows Scan</strong>
						</td>
						<td>
                            <strong>Rows_examined_sum</strong>
						</td>
						<td>
                            <strong>Rows_examined_max</strong>
						</td>
						<td>
                            <strong>Rows_examined_min</strong>
						</td>
						<td>
                            <strong>Rows_examined_pct_95</strong>
						</td>
					</tr>
					<tr>
						<td>
							{{ slow_low_info.rows_examined_sum }}
						</td>
						<td>
							{{ slow_low_info.rows_examined_max }}
						</td>
						<td>
							{{ slow_low_info.rows_examined_min }}
						</td>
						<td>
                            {{ slow_low_info.rows_examined_pct_95 }}
						</td>
					</tr>
					<tr>
						<td colspan="1">
                            <strong>Format</strong>
						</td>
						<td colspan="4" rowspan="1">
                            {{ slow_low_info.fingerprint }}
						</td>
					</tr>
					<tr>
						<td colspan="1">
                            <strong>SQL</strong>
						</td>
						<td colspan="4" rowspan="1">
                            {{ slow_low_info.sample }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}

