<div class="row">
    <div class="col-md-2">
        <select id="server_id" name="server_id" class="selectpicker show-tick form-control bs-select-hidden" required>
            <option value="0" disabled="" selected="selected">Beta</option>
        </select>
    </div>
    <div class="col-md-2">
        <select id="query_type" name="query_type" class="selectpicker show-tick form-control bs-select-hidden" required>
            <option value="1" selected="selected">Query Count</option>
            <option value="2">Query Time Sum</option>
            <option value="3">Lock Time Sum</option>
            <option value="4">Rows Send Sum</option>
            <option value="5">Rows Examined Sum</option>
        </select>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="select_query_type_id()">查询</button>
    </div>
</div>
</br>

<div class="row">
    <div class="col-md-12" id="slow_log"></div>
</div>

<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                加载中，请稍候。。。
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    query_type_id = 1;

    function select_query_type_id() {
        query_type_id = $("#query_type option:selected").val()
        query_slow_log()
    }

    function query_slow_log() {
        $("#loading").modal("show")
        $.get("/slowlog/" + query_type_id, "", function (data) {
            $("#slow_log").html(data);
            $("#loading").modal("hide")
        })
    }

    query_slow_log()
</script>

