{% if(slow_low_info != None) %}
    <table class="table table-hover table-bordered">
        <tbody style="word-break:break-all">
        <tr>
            <td style="width: 100px">
                <strong>DB</strong>
            </td>
            <td colspan="2" rowspan="1">
                {{ slow_low_info.db_max }}
            </td>
            <td>
                <strong>User</strong>
            </td>
            <td colspan="1" rowspan="1">
                {{ slow_low_info.user_max }}
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                <strong>Checksum</strong>
            </td>
            <td colspan="2" rowspan="1">
                {{ slow_low_info.checksum }}
            </td>
            <td>
                <strong>Count</strong>
            </td>
            <td colspan="1" rowspan="1">
                {{ slow_low_info.count }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>First Seen</strong>
            </td>
            <td colspan="2" rowspan="1">
                {{ slow_low_info.first_seen }}
            </td>
            <td>
                <strong>Last Seen</strong>
            </td>
            <td colspan="1" rowspan="1">
                {{ slow_low_info.last_seen }}
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2">
                <strong>Query Time</strong>
            </td>
            <td>
                <strong>Query_time_sum</strong>
            </td>
            <td>
                <strong>Query_time_max</strong>
            </td>
            <td>
                <strong>Query_time_min</strong>
            </td>
            <td>
                <strong>Query_time_pct_95</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{ slow_low_info.query_time_sum }}
            </td>
            <td>
                {{ slow_low_info.query_time_max }}
            </td>
            <td>
                {{ slow_low_info.query_time_min }}
            </td>
            <td>
                {{ slow_low_info.query_time_pct_95 }}
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2">
                <strong>Lock Time</strong>
            </td>
            <td>
                <strong>Lock_time_sum</strong>
            </td>
            <td>
                <strong>Lock_time_max</strong>
            </td>
            <td>
                <strong>Lock_time_min</strong>
            </td>
            <td>
                <strong>Lock_time_pct_95</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{ slow_low_info.lock_time_sum }}
            </td>
            <td>
                {{ slow_low_info.lock_time_max }}
            </td>
            <td>
                {{ slow_low_info.lock_time_max }}
            </td>
            <td>
                {{ slow_low_info.lock_time_pct_95 }}
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2">
                <strong>Rows Send</strong>
            </td>
            <td>
                <strong>Rows_sent_sum</strong>
            </td>
            <td>
                <strong>Rows_sent_max</strong>
            </td>
            <td>
                <strong>Rows_sent_min</strong>
            </td>
            <td>
                <strong>Rows_sent_pct_95</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{ slow_low_info.rows_sent_sum }}
            </td>
            <td>
                {{ slow_low_info.rows_sent_max }}
            </td>
            <td>
                {{ slow_low_info.rows_sent_min }}
            </td>
            <td>
                {{ slow_low_info.rows_sent_pct_95 }}
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2">
                <strong>Rows Scan</strong>
            </td>
            <td>
                <strong>Rows_examined_sum</strong>
            </td>
            <td>
                <strong>Rows_examined_max</strong>
            </td>
            <td>
                <strong>Rows_examined_min</strong>
            </td>
            <td>
                <strong>Rows_examined_pct_95</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{ slow_low_info.rows_examined_sum }}
            </td>
            <td>
                {{ slow_low_info.rows_examined_max }}
            </td>
            <td>
                {{ slow_low_info.rows_examined_min }}
            </td>
            <td>
                {{ slow_low_info.rows_examined_pct_95 }}
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <strong>Format</strong>
            </td>
            <td colspan="4" rowspan="1">
                {{ slow_low_info.fingerprint }}
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <strong>SQL</strong>
            </td>
            <td colspan="4" rowspan="1">
                {{ slow_low_info.sample }}
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                select_type
            </th>
            <th>
                table
            </th>
            <th>
                type
            </th>
            <th>
                possible_keys
            </th>
            <th>
                key
            </th>
            <th>
                key_len
            </th>
            <th>
                ref
            </th>
            <th>
                rows
            </th>
            <th>
                Extra
            </th>
        </tr>
        </thead>
        <tbody style="word-break:break-all">
        {% for status in slow_low_info.explain_infos %}
            <tr>
                <td>
                    {{ status.id }}
                </td>
                <td>
                    {{ status.select_type }}
                </td>
                <td>
                    {{ status.table }}
                </td>
                <td>
                    {{ status.type }}
                </td>
                <td>
                    {{ status.possible_keys }}
                </td>
                <td>
                    {{ status.key }}
                </td>
                <td>
                    {{ status.key_len }}
                </td>
                <td>
                    {{ status.ref }}
                </td>
                <td>
                    {{ status.rows }}
                </td>
                <td>
                    {{ status.Extra }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

