{% if(slow_log_infos != None) %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fingerprint
            </th>
            <th>
                Count
            </th>
            <th title="Query_time_sum">
                Query_S
            </th>
            <th title="Lock_time_sum">
                Lock_S
            </th>
            <th title="Rows_sent_sum">
                Rows_S
            </th>
            <th title="Rows_examined_sum">
                Rows_E_C
            </th>
            <th>
                First
            </th>
            <th>
                Last
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        {% for status in slow_log_infos %}
            <tr>
                <td>
                    {{ status.id }}
                </td>
                <td title="{{ status.fingerprint }}">
                    {{ status.display_sql }}
                </td>
                <td>
                    {{ status.sql_count }}
                </td>
                <td>
                    {{ status.query_sum }}
                </td>
                <td>
                    {{ status.lock_sum }}
                </td>
                <td>
                    {{ status.rows_sent_count }}
                </td>
                <td>
                    {{ status.rows_exam_sum }}
                </td>
                <td>
                    {{ status.first_seen }}
                </td>
                <td>
                    {{ status.last_seen }}
                </td>
                <td class="text-center">
                    <button class="btn btn-xs btn-primary" onclick=get_slow_log_detail("{{ status.checksum }}")>Detail</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if(slow_logs != None) %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th colspan="5" rowspan="1" class="text-center">
                SQL
            </th>
            <th colspan="4" rowspan="1" class="text-center">
                Query Time
            </th>
            <th colspan="3" rowspan="1" class="text-center">
                Lock Time
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th>
                Fingerprint
            </th>
            <th>
                DB
            </th>
            <th>
                User
            </th>
            <th>
                Last_Seen
            </th>
            <th>
                Count
            </th>
            <th>
                Total
            </th>
            <th>
                Avg
            </th>
            <th>
                Mix
            </th>
            <th>
                Max
            </th>
            <th>
                Total
            </th>
            <th>
                Mix
            </th>
            <th>
                Max
            </th>
            <th class="text-center">
                Status
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        {% for status in slow_logs %}
            <tr>
                <td>
                    <a role="button" onclick=visible_or_hidden("{{ status.checksum }}") >
                        {{ status.fingerprint_tmp }}
                    </a>
                </td>
                <td>
                    {{ status.db_max }}
                </td>
                <td>
                    {{ status.user_max }}
                </td>
                <td>
                    {{ status.last_seen }}
                </td>
                <td {% if(status.ts_cnt > 10) %} class="text-danger" {% endif %}>
                    {{ status.ts_cnt }}
                </td>
                <td>
                    {{ status.Query_time_sum }}
                </td>
                <td>
                    {{ status.Query_time_avg }}
                </td>
                <td>
                    {{ status.Query_time_min }}
                </td>
                <td>
                    {{ status.Query_time_max }}
                </td>
                <td>
                    {{ status.Lock_time_sum }}
                </td>
                <td>
                    {{ status.Lock_time_min }}
                </td>
                <td>
                    {{ status.Lock_time_max }}
                </td>
                <td class="text-center">
                    {% if(status.is_reviewed == 0) %}
                        Not Reviewed
                    {% else %}
                        Reviewed
                    {% endif %}
                </td>
                <td class="text-center">
                    <button class="btn btn-xs btn-primary" onclick=get_slow_log_detail("{{ status.checksum }}")>Detail</button>
                    <button class="btn btn-xs btn-primary" onclick=show_review_dialog_modal("{{ status.checksum }}")>Review</button>
                </td>
            </tr>
            <tr style="display: none;white-space: pre-wrap;" id="{{ status.checksum }}">
                <td colspan="14">
                    {{ status.fingerprint }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <ul class="pagination pagination-centered">
            <li><a href="javascript:void(0)" onclick="get_slow_logs_by_page_number(1)">&laquo;</a></li>
            {% for number in page_list %}
                <li {% if(number == page_number) %} class="active" {% endif %}>
                    <a href="javascript:void(0)" onclick="get_slow_logs_by_page_number({{ number }})">{{ number }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

