<div class="row">
    <div class="col-md-2">
        <select id="server_id" name="server_id" class="selectpicker show-tick form-control bs-select-hidden" required>
            <option value="0" selected="selected">ALL</option>
            {% for info in host_infos %}
                <option value="{{ info.key }}">{{ info.remark }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <select id="sort_type" name="sort_type" class="selectpicker show-tick form-control bs-select-hidden" required data-live-search="true">
            <option value="1" selected="selected">Rows Count</option>
            <option value="2">Data Size</option>
            <option value="3">Index Size</option>
            <option value="4">Total Size</option>
            <option value="5">File Size</option>
            <option value="6">Free Size</option>
        </select>
    </div>
    <div class="col-md-2">
        <input class="form-control" placeholder="plase input table name" id="input_table_name">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="select_sort_type_and_host_id()">Query</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-9" id="tablespace_info"></div>
</div>

<div class="modal fade" id="table_detail_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document" style="width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Table Detail</h4>
            </div>
            <div class="modal-body" id="table_detail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script language="JavaScript">
    var host_id = 0
    var sort_type_id = 1;
    $(".selectpicker").selectpicker({liveSearch: true});

    function select_sort_type_and_host_id() {
        host_id = $("#server_id option:selected").val()
        sort_type_id = $("#sort_type option:selected").val()
        query_tablespace_info()
    }

    function query_tablespace_info() {
        get_table_infos_for_page_number(1)
    }

    function get_table_infos_for_page_number(page_number) {
        var json_data="host_id="+host_id+"&sort_type_id="+sort_type_id+"&page_number="+page_number+"&table_name="+$("#input_table_name").val()
        $.post("/tablespace/sort/", json_data, function (data) {
            $("#tablespace_info").html(data);
        })
    }

    function get_table_detail(table_schema, table_name) {
        var json_data="host_id="+host_id+"&table_schema="+table_schema+"&table_name="+table_name
        $.post("/tablespace/table/detail", json_data, function (data) {
            $("#table_detail").html(data);
            $("#table_detail_dialog").modal({backdrop: "static"});
            $("#table_detail_dialog").modal("show")
        })
    }

    query_tablespace_info()
</script>
