<div class="row">
    <div class="col-md-2">
        <select id="server_id" name="server_id" class="selectpicker show-tick form-control bs-select-hidden" required>
            <option value="0" selected="selected">ALL</option>
            {% for info in host_infos %}
                <option value="{{ info.key }}">{{ info.remark }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <select id="sort_type" name="sort_type" class="selectpicker show-tick form-control bs-select-hidden" required>
            <option value="1" selected="selected">Rows Count</option>
            <option value="2">Data Size</option>
            <option value="3">Index Size</option>
            <option value="4">Total Size</option>
            <option value="5">File Size</option>
            <option value="6">Free Size</option>
        </select>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="select_sort_type_and_host_id()">Query</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8" id="tablespace_info"></div>
</div>

<script language="JavaScript">
    host_id = 0
    sort_type_id = 1;

    function select_sort_type_and_host_id() {
        host_id = $("#server_id option:selected").val()
        sort_type_id = $("#sort_type option:selected").val()
        query_tablespace_info()
    }

    function query_tablespace_info() {
        $.get("/tablespace/sort/" + host_id + "/" + sort_type_id, "", function (data) {
            $("#tablespace_info").html(data);
        })
    }

    query_tablespace_info()
</script>
