{% if(tablespace_status != None) %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                Table_Name
            </th>
            <th>
                Rows
            </th>
            <th>
                Data
            </th>
            <th>
                Index
            </th>
            <th>
                Total
            </th>
            <th>
                File
            </th>
            <th>
                Free
            </th>
            <th>
                Create_Time
            </th>
            <th>
                Update_Time
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        {% for status in tablespace_status %}
            <tr>
                <td>
                    {{ status.schema }}.{{ status.t_name }}
                </td>
                <td>
                    {{ status.rows }}
                </td>
                <td>
                    {{ status.data_size }}
                </td>
                <td>
                    {{ status.index_size }}
                </td>
                <td>
                    {{ status.total_size }}
                </td>
                <td>
                    {{ status.file_size }}
                </td>
                <td>
                    {{ status.diff }}
                </td>
                <td>
                    {{ status.create_time }}
                </td>
                <td>
                    {{ status.update_time }}
                </td>
                <td class="text-center">
                    <button class="btn btn-xs btn-primary" onclick=get_table_detail("{{ status.schema }}","{{ status.t_name }}")>Detail</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if(host_tablespace_infos != None) %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                Host
            </th>
            <th>
                Rows_T
            </th>
            <th>
                Data_T
            </th>
            <th>
                Index_T
            </th>
            <th>
                Total
            </th>
            <th>
                File_T
            </th>
            <th>
                Free_T
            </th>
            <th title="table count">
                Table_C
            </th>
            <th>
                Last Update Time
            </th>
        </tr>
        </thead>
        <tbody>
        {% for status in host_tablespace_infos %}
            <tr>
                <td>
                    {{ status.host_info.remark }}
                </td>
                <td>
                    {{ status.rows_total }}
                </td>
                <td>
                    {{ status.data_total }}
                </td>
                <td>
                    {{ status.index_total }}
                </td>
                <td>
                    {{ status.total }}
                </td>
                <td>
                    {{ status.file_total }}
                </td>
                <td>
                    {{ status.free_total }}
                </td>
                <td>
                    {{ status.table_count }}
                </td>
                <td>
                    {{ status.last_update_time }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if(table_detail_info != None) %}
    <!--table column-->
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="text-center" colspan="7">{{ table_detail_info.t_name }}-Columns</th>
        </tr>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Default_Value
            </th>
            <th>
                Type
            </th>
            <th>
                Is_Null
            </th>
            <th>
                Key
            </th>
            <th>
                Extra
            </th>
        </tr>
        </thead>
        <tbody>
        {% for status in table_detail_info.column_infos %}
            <tr>
                <td>
                    {{ status.ordinal_position }}
                </td>
                <td>
                    {{ status.column_name }}
                </td>
                <td>
                    {{ status.column_default }}
                </td>
                <td>
                    {{ status.column_type }}
                </td>
                <td>
                    {{ status.is_nullable }}
                </td>
                <td>
                    {{ status.column_key }}
                </td>
                <td>
                    {{ status.extra }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--table index-->
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="text-center" colspan="8">{{ table_detail_info.t_name }}-Indexs</th>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <th>
                Non_Unique
            </th>
            <th>
                ID
            </th>
            <th>
                Column_Name
            </th>
            <th>
                Collation
            </th>
            <th>
                Cardinality
            </th>
            <th>
                Null
            </th>
            <th>
                Type
            </th>
        </tr>
        </thead>
        <tbody>
        {% for status in table_detail_info.index_infos %}
            <tr>
                <td>
                    {{ status.index_name }}
                </td>
                <td>
                    {{ status.non_unique }}
                </td>
                <td>
                    {{ status.seq_in_index }}
                </td>
                <td>
                    {{ status.column_name }}
                </td>
                <td>
                    {{ status.collation }}
                </td>
                <td>
                    {{ status.cardinality }}
                </td>
                <td>
                    {{ status.nullable }}
                </td>
                <td>
                    {{ status.index_type }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
